/* 메뉴 */
.menu {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eeeeee;
}
.menu a {
  font-size: 16px;
  margin-left: 15px;
}
.menu a:hover {
  color: #b4b4b4
}
/* 스터디 만들기 버튼 */
.studyBtn {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #40B783;
  color: white;
  margin-top: 40px;
}
.studyBtn:hover {
  cursor: pointer;
  background-color: rgba(64, 183, 132, 0.772);
}
/* 스터디 구분 */
.studyKind {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  
}
.studyKind span {
  margin-right: 20px;
}
.studyKind span:nth-child(odd):hover {
  color: #b4b4b4;
  cursor: pointer;
}
.studyKind span:nth-child(even) {
  color: #b4b4b4;
}
/* 카테고리 */
.category {
  text-align: center;
  margin-top: 10px;
}
.category ul {
  display: inline-block;
}
.category ul li {
  margin-right: 10px;
  float: left;
  background-color: #eeeeee;
  color: black;
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
}
.category ul li:hover {
  background-color: #b4b4b4b4;
  cursor: pointer;
}
/* 보는 방식 */
.viewType {
  clear: both;
  text-align: center;
  margin-top: 15px;
}
.viewType span:hover {
  color: #b4b4b4;
  cursor: pointer;
}
/* 스터디 목록 */
.studyList {
  text-align: center;
  margin-top: 15px;
}
.studyList table {
  display: inline-block;
  border-top: 1px solid #b4b4b4;
}
.studyList table tr:hover {
  color: #40B783;
  cursor: pointer;
}
.studyList table tr th {
  color: black;
  cursor: default;
}
.studyList table th,td {
  border-bottom: 1px solid #eeeeee;
  padding: 8px;
}
/* 로그인 */
.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBox .title{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.loginBox input {
  width: 200px;
  height: 30px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  margin-bottom: 5px;
  padding-left: 5px;
}
.loginBtn {
  width: 205px;
  height: 30px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.loginBtn:hover {
  background-color: #333;
}
.loginBox .register {
  text-align: center;
  margin-top: 10px;
}
.loginBox .register:hover {
  color: #40B783;
  cursor: pointer;
}
/* dialog */
.modalWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.modalContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.modalContainer table>tr>td {
  border: none;
}
.modalBtn {
  text-align: right;
}
.modalBtn button {
  width: 50px;
  height: 30px;
  border-radius: 4px;
  margin-left: 5px;
}
.modalBtn button:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* form */
.modalContainer input {
  border:none; 
  padding:3px; 
  width:99%; 
  border-radius:4px
}
.modalContainer input:focus {
  outline: 1px solid #41B883; 
}
.modalContainer table {
  border-spacing: 0 8px;
}
.modalCategory select {
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 4px;
}
.modalCategory select:focus {
  outline: 1px solid #41B883;
}
/**/
.modalContainer.studyMemberForm {
  width: 280px;
}
.studyMemberForm input {
  border: 1px solid #40B783
}
.studyMemberForm .selectList {
  margin-bottom: 10px;
}
.studyMemberForm .selectList .txt {
  color: #b4b4b4b4;
  font-size: 11px;
}
.studyMemberForm .selectList li {
  float: left;
  background-color: #eeeeee;
  margin-right: 2px;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2px;
}
.studyMemberForm .selectList li:hover {
  background-color: #b4b4b4b4;
}
.studyMemberForm .showList {
  clear: both;
}
.studyMemberForm .showList ul {
  height: 200px;
  overflow-y: auto;
}
.studyMemberForm .showList ul li {
  height: 25px;
  line-height: 25px;
}
.studyMemberForm .showList ul li:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
/* vue-date-picker */
.dp__icon { display: none;}
.dp__input { font-size: 14px; font-family: '맑은고딕'; }
/* 공통 */
.grayBtn { background-color: #8d8d8d; color: white;}
.greenBtn { background-color: #41B883; color: white;}
.blackBtn { background-color: #333; color: white;}